div.skills-box {
    width: calc(100% - 5% - 5%);
    margin: 5%;
    padding: 50px;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgba(0, 128, 255, 0.27), #100017);
    border-width: 1px;
    border-style: solid;
    border-color: #0080ff;

    opacity: 0;
    transform: translateY(50px);

    transition: 1s ease;

    &.scroll-on-active {
        transform: translateY(0);
        opacity: 1;
    }
}

div.language-box {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;

    opacity: 0;
    transform: translateX(-100px);

    transition: transform 1s ease, opacity 1s ease;

    &.scroll-on-active {
        opacity: 1;
        transform: translateX(0);
    }

    .internal {
        width: 100%;

        h2 {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p.description {
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p.learning {
            font-size: 15px;
            margin-top: 10px;
            background-color: #ef6429;
            width: 10%;
            height: 25px;
            border-radius: 15px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 10px;
        }

        .progress {
            display: flex;
            width: 100%;
            height: 10px;
            border-radius: 50px;

            .progress-bar {
                border-radius: 50px;
                transition: width 1s ease;

                &.scroll-on {
                    width: 0;
                    transition: width 1s ease-out;
                }

                &.scroll-on-active {
                    &.python {
                        background-color: #0080ff;
                        width: 100%;
                    }
                    &.html_css {
                        background-image: linear-gradient(to right, #ef6429, #0080ff);
                        width: 100%;
                    }
                    &.javascript {
                        background-color: #eed94e;
                        width: 90%;
                    }
                    &.java {
                        background-color: #e82d2e;
                        width: 80%;
                    }
                    &.kotlin {
                        background-color: #c511df;
                        width: 50%;
                    }
                    &.sql {
                        background-color: #4fe4fd;
                        width: 50%;
                    }
                    &.rust {
                        background-color: #ff6e00;
                        width: 30%;
                    }
                }
            }
        }
    }

    img, svg {
        height: 100px;
        width: auto;
    }
}

@media (max-width: 1400px) {
    div.language-box .internal p.learning {
        width: 100px;
    }
}

@media (max-width: 800px) {
    div.language-box {
        flex-direction: column;

        .progress {
            background-color: rgba(0, 0, 0, 0.34);
        }
    }
}
