div.stats-box {
    width: 90%;
    margin: 5%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgba(85, 0, 255, 0.27), #100017);
    border-width: 1px;
    border-style: solid;
    border-color: #5500ff;

    opacity: 0;
    transform: translateY(50px);

    transition: 1s ease;

    &.scroll-on-active {
        transform: translateY(0);
        opacity: 1;
    }
}

div.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 3%;

    embed {
        max-width: 30%;
        height: auto;
        display: block;

        &.scroll-on {
            transform: translateX(-50px);
            opacity: 0;
            transition: 1s ease;
        }

        &.scroll-on-active {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media (max-width: 1400px) {
    div.stats {
        flex-direction: column;
        width: 100%;
        margin-top: 3%;

        embed {
            max-width: 60%;
        }
    }
}

@media (max-width: 1000px) {
    div.stats embed {
        max-width: 100%;
    }
}
